/* .header-main{
    background: url('../../../assets//dan-gold-5O1ddenSM4g-unsplash.jp');
    background-position: cover;
    height: 70vh;
    opacity: 1.2;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 100%
    
} */
